.container{
    display: grid;
    grid-template-columns: 40% 10% 20% 10% 20%;
    grid-template-areas: "text . buttons . icons";
    padding: 20px 0 20px 0;
}

.textContainer{
    color: var(--footer-text-color);
    grid-area: text;
}

.textContainer h5{
    padding: 0 0 10px 0;
}

.buttonContainer{
    grid-area: buttons;
}

.btn{
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--btn-text-color);
    background-color: var(--btn-background-color);
    border: 3px solid var(--btn-border-color);
}

.btn:hover{
    color: var(--btn-text-color-hover);
    background-color: var(--btn-background-color-hover);
    border: 3px solid var(--btn-border-color-hover);
}

.iconContainer{
    grid-area: icons;
}

.iconContainer ul{
    list-style-type: none;
    text-align: center;
}

.iconContainer li{
    padding: 5px 0 5px 0;
}

.iconContainer li:first-child{
    padding: 0 0 5px 0;
}

.iconContainer img{
    width: auto;
    height: 50px;
}

