.btnContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
}

.btn{
    width: 110px;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--btn-text-color);
    background-color: var(--btn-background-color);
    border: 3px solid var(--btn-border-color);
}

.btn:hover{
    color: var(--btn-text-color-hover);
    background-color: var(--btn-background-color-hover);
    border: 3px solid var(--btn-border-color-hover);
}

.cardLink{
    text-decoration: none;
}

.cardsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns of equal size */
    gap: 10px;
    margin: 20px 0 0 0;
}

.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 180px 40px;
    gap: 10px;
    border: 1px solid var(--background-border-color);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

/*Limits width of all child elements of each card to prevent overflow with grid*/
.card > * {
    max-width: 100%; 
}

.cardHeader{
    color: var(--text-color-dark);
}

.cardImg{
    width: auto;
    height: 170px;
}

.cardText{
    color: var(--text-color);
}