.introContainer{
    padding: 120px 0 50px 0;
}

.introContainer h1{
    font-size: 4rem;
    padding-bottom: 10px;
}

.aboutContainer, .skillsContainer, .projectsContainer, .gameContainer, .channelsContainer{
    padding: 30px 0 30px 0;
}

.skillsContainer h1, .projectsContainer h1, .gameContainer h1, .channelsContainer h1{
    text-align: center;
    padding: 30px 0 30px 0;
}

.aboutContainer{
    display: grid;
    grid-template-columns: 55% 5% 40%;
    grid-template-areas: "textContent . imageContent";
}

.textSection{
    grid-area: textContent;
    align-self: center;
}

.textSection p{
    font-size: 1.3rem;
    padding: 15px 0 15px 0;
}

.textSection button{
    margin: 20px 0 0 0;
    width: 180px;
    height: 70px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--btn-text-color);
    background-color: var(--btn-background-color);
    border: 3px solid var(--btn-border-color);
}

.textSection button:hover{
    color: var(--btn-text-color-hover);
    background-color: var(--btn-background-color-hover);
    border: 3px solid var(--btn-border-color-hover);
}

.imageSection{
    grid-area: imageContent;
}

.imageSection img{
    width: 100%;
}

.gameContainer img{
    width: 100%;
}

.channelsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "channelsHeader channelsHeader channelsHeader"
    "video1 video2 video3"
    "video4 video5 video6"
    ;
    gap: 2px;
}

.video1, .video2, .video3, .video4, .video5, .video6{
    width: 100%;
    height: 200px;
}

.channelsHeader{
    grid-area: channelsHeader;
}

.video1{
    grid-area: video1;
}

.video2{
    grid-area: video2;
}

.video3{
    grid-area: video3;
}

.video4{
    grid-area: video4;
}

.video5{
    grid-area: video5;
}

.video6{
    grid-area: video6;
}
